.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

# Virtual envs
.venv/
venv/

# Editors
.idea/
.vscode/

# Environment files
.env
**/.env
.env.*
**/.env.*

# Build artifacts
dist/
build/
*.egg-info/

